In [1]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# single object in one d array

In [3]:
import pandas as pd

In [4]:
s1=pd.Series([1,2,3,4,5])

In [5]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

# series can be indexed and change to its value

In [9]:
s2=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [10]:
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

# we can create a series object from a dit

In [11]:
s3=pd.Series({'a':10,'b':20})

In [12]:
s3

a    10
b    20
dtype: int64

# we can change the index position

In [13]:
pd.Series({'a':10,'b':20,'c':30},index=['b','d','a','e'])

b    20.0
d     NaN
a    10.0
e     NaN
dtype: float64

# Extracting the value of individual series

In [23]:
s11=pd.Series([1,2,3,4,5,6,7,8,9])

In [24]:
s11

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [27]:
s22=pd.Series([10,20,30,40,50,60,70,80,90])

In [28]:
s22

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [22]:
s11[3]

40

In [29]:
s11+10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [31]:
s11[2:7]

2    3
3    4
4    5
5    6
6    7
dtype: int64

# creating a data frame

In [32]:
df=pd.DataFrame({"Name":['satkrit','bhandari'],"marks":[98,99]})

In [33]:
df

       Name  marks
0   satkrit     98
1  bhandari     99

In [34]:
df.head()

       Name  marks
0   satkrit     98
1  bhandari     99

In [35]:
df.describe()

           marks
count   2.000000
mean   98.500000
std     0.707107
min    98.000000
25%    98.250000
50%    98.500000
75%    98.750000
max    99.000000

In [36]:
df.tail()

       Name  marks
0   satkrit     98
1  bhandari     99

In [37]:
df.shape

(2, 2)

# working in the real data sets of iris flow

In [49]:
data=pd.read_csv('Iris.csv')

In [50]:
data.iloc[0:3,0:2]

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7

In [57]:
data.loc[5:10,('SepalLengthCm')]

5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
Name: SepalLengthCm, dtype: float64

In [58]:
satkrit=data.drop('SepalLengthCm',axis=1)

In [59]:
satkrit.shape

(150, 5)

In [60]:
satkrit.head

<bound method NDFrame.head of       Id  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1           3.5            1.4           0.2     Iris-setosa
1      2           3.0            1.4           0.2     Iris-setosa
2      3           3.2            1.3           0.2     Iris-setosa
3      4           3.1            1.5           0.2     Iris-setosa
4      5           3.6            1.4           0.2     Iris-setosa
..   ...           ...            ...           ...             ...
145  146           3.0            5.2           2.3  Iris-virginica
146  147           2.5            5.0           1.9  Iris-virginica
147  148           3.0            5.2           2.0  Iris-virginica
148  149           3.4            5.4           2.3  Iris-virginica
149  150           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]>

In [53]:
data.drop([3,4,5])

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [61]:
hello=satkrit.drop('Species',axis=1)

In [56]:
def double_make(s):
    return s*2

In [73]:
hello[['sepalwidthCm','PetalLengthCm']].apply

KeyError: "['sepalwidthCm'] not in index"

In [66]:
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [72]:
satkrit.sort_values(by='SepalLengthCm', ascending=False)

KeyError: 'SepalLengthCm'

In [74]:
satkrit[['SepalwidthCm','PetalLengthCm']]

KeyError: "['SepalwidthCm'] not in index"